<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-flat-button color="primary" routerLink="/"
      ><mat-icon>whatshot</mat-icon>{{ title }}</a
    >
    <span class="spacer"></span>
    <div
      class="logged-in"
      *ngIf="(authService.getUserState | async); else guestNav"
    >
      <a mat-flat-button color="accent" routerLink="/s/create">Create Story</a>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/mystories">
          <mat-icon>library_books</mat-icon>
          <span>My Stories</span>
        </button>

        <button mat-menu-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>

        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
    <ng-template #guestNav>
      <div class="logged-out">
        <a mat-flat-button color="primary" routerLink="/login">Login</a>
        <a mat-flat-button color="accent" routerLink="/register">Register</a>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
