<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-flat-button color="primary" routerLink="/"
      ><mat-icon>whatshot</mat-icon>{{ title }}</a
    >
    <span class="spacer"></span>
    <div
      class="logged-in"
      *ngIf="(authService.getUserState | async); else guestNav"
    >
      <a mat-flat-button color="primary" routerLink="/s/create">Create Story</a>
      <a mat-flat-button color="primary" (click)="logout()">Logout</a>
    </div>
    <ng-template #guestNav>
      <div class="logged-out">
        <a mat-flat-button color="primary" routerLink="/register">Register</a>
        <a mat-flat-button color="primary" routerLink="/login">Login</a>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
