<mat-card>
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="registerForm"
      #formDirective="ngForm"
    >
      <mat-form-field hintLabel="Max 12 characters">
        <input
          matInput
          placeholder="Username"
          formControlName="username"
          required
          maxlength="12"
        />
      </mat-form-field>
      <mat-hint align="end"
        >{{ registerForm.controls.username.value?.length || 0 }}/12</mat-hint
      >
      <mat-error
        class="username"
        *ngIf="
          registerForm.controls.username.touched &&
          registerForm.controls.username.hasError('required')
        "
        >{{ errorMessages.emptyUsernameError }}</mat-error
      >
      <mat-error
        class="username"
        *ngIf="
          registerForm.controls.username.touched &&
          registerForm.controls.username.hasError('maxlength')
        "
        >{{ errorMessages.tooLongUsernameError }}</mat-error
      >
      <mat-form-field>
        <input
          matInput
          placeholder="E-mail address"
          formControlName="email"
          required
          type="email"
        />
      </mat-form-field>
      <mat-error
        class="email"
        *ngIf="
          registerForm.controls.email.touched &&
          registerForm.controls.email.hasError('required')
        "
        >{{ errorMessages.emptyEmailError }}</mat-error
      >

      <mat-form-field hintLabel="Minimum 6, maximum 32 characters">
        <input
          matInput
          placeholder="Password"
          formControlName="password"
          required
          type="password"
          maxlength="32"
        />
      </mat-form-field>
      <mat-hint align="end"
        >{{ registerForm.controls.password.value?.length || 0 }}/32</mat-hint
      >
      <mat-error
        class="password"
        *ngIf="
          registerForm.controls.password.touched &&
          registerForm.controls.password.hasError('required')
        "
        >{{ errorMessages.emptyPasswordError }}</mat-error
      >
      <mat-error
        class="password"
        *ngIf="
          registerForm.controls.password.touched &&
          registerForm.controls.password.hasError('maxlength')
        "
        >{{ errorMessages.tooLongPasswordError }}</mat-error
      >

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <p>Already have an account? <a routerLink="/login">Log in!</a></p>
  </mat-card-actions>
</mat-card>
