<mat-card>
  <mat-card-header>
    <mat-card-title>Create a story</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="createForm"
      #formDirective="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-form-field>
        <input matInput placeholder="Title" formControlName="title" />
        <mat-error
          class="title"
          *ngIf="!!createForm.controls.title.errors?.required"
          >{{ errorMessages.emptyTitleError }}</mat-error
        >
        <mat-error
          class="title"
          *ngIf="!!createForm.controls.title.errors?.maxlength"
          >{{ errorMessages.tooLongTitleError }}</mat-error
        >
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Enter your story here!"
          formControlName="content"
        ></textarea>
        <mat-error
          class="content"
          *ngIf="!!createForm.controls.content.errors?.required"
          >{{ errorMessages.emptyContentError }}
        </mat-error>
        <mat-error
          class="content"
          *ngIf="!!createForm.controls.content.errors?.maxlength"
          >{{ errorMessages.tooLongContentError }}
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!createForm.valid"
      >
        Create
      </button>
    </form>
  </mat-card-content>
</mat-card>
