<mat-card *ngFor="let story of (stories$ | async)">
  <a [routerLink]="['/s', story._id]">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        ><a [routerLink]="['/s', story._id]">{{ story.title }}</a>
      </mat-card-title>
      <mat-card-subtitle
        ><a class="username" [routerLink]="['/s', story._id]">{{
          story.username
        }}</a>
        ·
        <a class="date" [routerLink]="['/s', story._id]">{{
          story.date | date: 'mediumDate'
        }}</a></mat-card-subtitle
      >
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ story.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="story-meta">
        <button class="upvote" mat-button color="primary">
          <mat-icon>thumb_up_alt </mat-icon>
        </button>
        <button class="vote" mat-button>1.4 k</button>
        <button class="downvote" mat-button color="warn" href="">
          <mat-icon>thumb_down_alt</mat-icon>
        </button>
      </div>
      <button
        class="comments"
        mat-button
        matBadge="{{ story.comments.length }}"
      >
        <mat-icon>comment</mat-icon>
      </button>
    </mat-card-actions>
  </a>
</mat-card>
