/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
  &:visited {
    color: black;
  }
  &:hover {
    color: black;
  }

  &:active {
    color: black;
  }
}

mat-card {
  margin: 1rem;

  form {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: flex-start;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }
}
