<mat-card>
  <mat-tab-group mat-stretch-tabs>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">account_circle</mat-icon>
        Profile
      </ng-template>

      <h1 class="mat-headline">Avatar</h1>
      <div class="avatar-field">
        <img
          class="avatar"
          src="https://material.angular.io/assets/img/examples/shiba1.jpg"
          alt=""
        />
        <button mat-raised-button color="accent" class="image-button">
          Upload Image
        </button>
      </div>
      <h1 class="mat-headline">Username</h1>
      <form
        [formGroup]="usernameForm"
        #usernameFormDirective="ngForm"
        (ngSubmit)="onChangeUsernameSubmit()"
      >
        <mat-form-field hintLabel="Max 12 characters">
          <input
            matInput
            placeholder="Change your username"
            formControlName="username"
            required
            maxlength="12"
          />

          <mat-hint align="end">{{ username.value?.length || 0 }}/12</mat-hint>
          <mat-error
            class="username"
            *ngIf="username.touched && username.hasError('required')"
            >{{ helperService.messages.emptyUsernameError }}</mat-error
          >
          <mat-error
            class="username"
            *ngIf="username.touched && username.hasError('maxlength')"
            >{{ helperService.messages.tooLongUsernameError }}</mat-error
          >
        </mat-form-field>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="!usernameForm.valid"
        >
          Update
        </button>
      </form>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="icon">lock</mat-icon>
        Security
      </ng-template>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Change your password
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form
            [formGroup]="passwordForm"
            #passwordFormDirective="ngForm"
            (ngSubmit)="onChangePasswordSubmit()"
          >
            <mat-form-field hintLabel="Minimum 6, maximum 32 characters">
              <input
                matInput
                placeholder="Current Password"
                formControlName="currentPassword"
                required
                type="password"
                maxlength="32"
              />
              <mat-hint align="end"
                >{{
                  passwordForm.controls.currentPassword.value?.length || 0
                }}/32</mat-hint
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.currentPassword.touched &&
                  passwordForm.controls.currentPassword.hasError('required')
                "
                >{{ helperService.messages.emptyPasswordError }}</mat-error
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.currentPassword.touched &&
                  passwordForm.controls.currentPassword.hasError('maxlength')
                "
                >{{ helperService.messages.tooLongPasswordError }}</mat-error
              >
            </mat-form-field>
            <mat-form-field hintLabel="Minimum 6, maximum 32 characters">
              <input
                matInput
                placeholder="New Password"
                formControlName="newPassword"
                required
                type="password"
                maxlength="32"
              />
              <mat-hint align="end"
                >{{
                  passwordForm.controls.newPassword.value?.length || 0
                }}/32</mat-hint
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.newPassword.touched &&
                  passwordForm.controls.newPassword.hasError('required')
                "
                >{{ helperService.messages.emptyPasswordError }}</mat-error
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.newPassword.touched &&
                  passwordForm.controls.newPassword.hasError('maxlength')
                "
                >{{ helperService.messages.tooLongPasswordError }}</mat-error
              >
            </mat-form-field>
            <mat-form-field hintLabel="Minimum 6, maximum 32 characters">
              <input
                matInput
                placeholder="Confirm New Password"
                formControlName="confirmPassword"
                required
                type="password"
                maxlength="32"
              />
              <mat-hint align="end"
                >{{
                  passwordForm.controls.confirmPassword.value?.length || 0
                }}/32</mat-hint
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.confirmPassword.touched &&
                  passwordForm.controls.confirmPassword.hasError('required')
                "
                >{{ helperService.messages.emptyPasswordError }}</mat-error
              >
              <mat-error
                class="password"
                *ngIf="
                  passwordForm.controls.confirmPassword.touched &&
                  passwordForm.controls.confirmPassword.hasError('maxlength')
                "
                >{{ helperService.messages.tooLongPasswordError }}</mat-error
              >
            </mat-form-field>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!passwordForm.valid"
            >
              Update
            </button>
          </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Change your e-mail address
            </mat-panel-title>
          </mat-expansion-panel-header>

          <form
            [formGroup]="emailForm"
            #emailFormDirective="ngForm"
            (ngSubmit)="onChangeEmailSubmit()"
          >
            <mat-form-field>
              <input
                matInput
                placeholder="New E-mail Address"
                formControlName="email"
                required
                type="email"
              />

              <mat-error
                class="email"
                *ngIf="
                  emailForm.controls.email.touched &&
                  emailForm.controls.email.hasError('required')
                "
                >{{ helperService.messages.emptyEmailError }}</mat-error
              >
            </mat-form-field>
            <mat-form-field hintLabel="Minimum 6, maximum 32 characters">
              <input
                matInput
                placeholder="Password"
                formControlName="password"
                required
                type="password"
                maxlength="32"
              />
              <mat-hint align="end"
                >{{
                  emailForm.controls.password.value?.length || 0
                }}/32</mat-hint
              >
              <mat-error
                class="password"
                *ngIf="
                  emailForm.controls.password.touched &&
                  emailForm.controls.password.hasError('required')
                "
                >{{ helperService.messages.emptyPasswordError }}</mat-error
              >
              <mat-error
                class="password"
                *ngIf="
                  emailForm.controls.password.touched &&
                  emailForm.controls.password.hasError('maxlength')
                "
                >{{ helperService.messages.tooLongPasswordError }}</mat-error
              >
            </mat-form-field>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!emailForm.valid"
            >
              Update
            </button>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</mat-card>
