mat-card {
  margin: 1rem;

  .icon {
    margin-right: 8px;
  }

  button {
    align-self: flex-end;
    margin: 1rem 0;
  }

  .mat-headline {
    margin: 1rem;
  }

  .avatar-field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    margin: 1rem;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
  }

  .image-button {
    align-self: center;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
  mat-card {
    max-width: 700px;
    margin: 1rem auto;
  }
}
